---
title: Projects
---

<div class="container">
  <h1>Projects</h1>
  <p>
    This page is an archive of my personal projects, which have varying degrees of polish.
    Unfortunately, projects completed for my undergraduate coursework are not open-source, but you can still read about our results.
  </p>
  {% for project in site.data.projects %}
    <div class="card">
      <h2>{{ project.title }}</h2>
      <div class="card-pane">
        {{ project.description }}
        <span>
          {% for link in project.links %}
            [<a href="{{ link.url }}">{{ link.title }}</a>]
          {% endfor %}
        </span>
      </div>
      <div class="card-pane center">
        {% for figure in project.figures %}
          <figure>
            <img src="{{ figure.url }}" width="{{ figure.width }}" />
            <figcaption>
              Fig. {% increment fignum | plus: 10 %}{% if figure.caption %}: {{ figure.caption }}{% endif %}
            </figcaption>
          </figure>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
