---
---

body
  margin: 0
  color: white
  background-color: #182026

*
  font-family: 'Inconsolata', monospace

p, li, figcaption
  font-size: 1.1rem
  line-height: 1.4rem

p, ul
  margin: 0.8rem 0

figcaption
  margin: 0.4rem 0
  text-align: center

figure
  margin: 1rem

.container
  max-width: 960px
  margin: 2rem auto

h1
  font-size: 3rem

h1, h2
  font-weight: 350
  margin: 0

img
  max-width: 100%

.card
  margin: 0.6rem 1rem 0.6rem 0
  padding: 0.8rem
  border: 2px solid #293742
  border-radius: 4px

.card-pane
  width: 48%
  display: inline-block
  vertical-align: top

.center
  text-align: center

a
  color: #48AFF0
  text-decoration: none
  border-bottom: 1px dashed

a:visited
  color: #137CBD
