<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-http-equiv="Content-Security-Policy" content="default-src 'self' https:;" />
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" integrity="sha384-pNo22HXtWi4/EeyI00K4So+6VXj+Szr5Djrf6u+T0Y79vNylGZgLijMgO50+iA+6" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
  </head>
  <body>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>
